.event {
  position: relative;
  width: 100%;
  display: block;
  padding-top: 0;
  padding-bottom: 90px;
}
.event-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  background-color: #fff;
}

.event-header {
  position: relative;
  display: block;
  text-align: center;
}

.event-title {
  position: relative;
  margin-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.3rem;
  color: #000;
  text-align: center;
}

.event-txt {
  position: relative;
  display: block;
  font-size: 1.8rem;
  color: #a7a9a7;
  text-align: center;
}

.event-main {
  position: relative;
  padding: 25px 0;
}

.event-slide-wrap {
  position: relative;
  height: 350px;
  margin-top: 23px;
}

.event-slide-item {
  position: relative;
  height: 350px;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.event-link {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #a7a9a7;
}
.event-img {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.event-img img {
  position: absolute;
  background-color: #a7a9a7;
  top: 50%;
  left: 50%;
  /* transform: translateX(-50%); translateY(-50%) ; */
  transform: translate(-50%, -50%);
}
