.ticket {
  position: relative;
  width: 100%;
  padding-top: 0;
  padding-bottom: 90px;
  background-color: ;
}
.ticket-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.ticket-header {
  position: relative;
}
.ticket-title {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.ticket-txt {
  position: relative;
  display: block;
  font-size: 1.8rem;
  color: #a7a9a7;
  text-align: center;
}

.ticket-main {
  position: relative;
  padding: 25px 0;
}
.ticket-category {
  position: relative;
  display: flex;
  justify-content: center;
}

.ticket-list {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
}
.ticket-list li {
  position: relative;
}

.ticket-cate-bt {
  position: relative;
  display: block;
  padding: 0px 20px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 1.4rem;
  line-height: 42px;
  color: #111;
  cursor: pointer;
  border-radius: 44px;
}

/* 버튼 뒷 부분 */
.ticket-cate-bt-active {
  border: 1px solid transparent !important;
  background-color: #333 !important;
  font-weight: 700 !important;
  color: #fff !important;
}

.ticket-slide-wrap {
  position: relative;
  height: 534px;
  margin-top: 23px;
}

.ticket-slide-item {
  position: relative;
  height: 400px;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  background-color: #f7f7f7;
  border-radius: 10px;
}
.ticket-link {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.ticket-img {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.ticket-img img {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* .ticket-img-number {
  position: relative;
  font-size: 7rem;
} */

.ticket-info {
  position: relative;
  padding: 20px 12px;
}
.ticket-good-list {
  position: relative;
}
.ticket-good-info-price {
  position: relative;
}
.ticket-good-info-price em {
  position: relative;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
}
.ticket-good-info-price p {
  position: relative;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #666;
}
.ticket-good-info-price i {
  position: relative;
  font-size: 1.4rem;
  font-style: normal;
  line-height: 1.7rem;
  color: #999;
}

.ticket-footer {
  position: relative;
}
.ticket-home {
  position: relative;
  display: flex;
  gap: 4px;
  justify-content: center;
}

.ticket-home-bt {
  position: relative;
  display: block;
  padding: 0px 20px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 1.4rem;
  line-height: 56px;
  color: #111;
  cursor: pointer;
  border-radius: 44px;
}

.ticket-home-bt-active {
  border: 1px solid transparent !important;
  background-color: #333 !important;
  font-weight: 700 !important;
  color: #fff !important;
}
